<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright 2018 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" android:required="false" />
  <uses-feature android:name="android.hardware.camera.any" android:required="false" />

  <application
    android:name=".GroundApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.Base"
    android:usesCleartextTraffic="${usesCleartextTraffic}">

    <service
      android:name="com.google.android.ground.persistence.remote.firebase.FirebaseMessagingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <!--
         The API key for Google Maps-based APIs defined in ground/secrets.properties.

         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
        -->
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/GOOGLE_MAPS_API_KEY" />

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateHidden|adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".SettingsActivity"
      android:theme="@style/AppTheme" />

    <!--
      Required for Google Maps SDK on targetSdk 28:
      https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library
    -->
    <uses-library
      android:name="org.apache.http.legacy"
      android:required="false" />

    <!-- Remove the default WorkManager initializer since we are providing our own -->
    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      tools:node="remove">
    </provider>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="com.google.android.ground"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

  </application>

</manifest>
